.ff0{font-family:sans-serif;visibility:hidden;}
@font-face{font-family:ff1;src:url(f1.woff)format("woff");}.ff1{font-family:ff1;line-height:0.887695;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff2;src:url(f2.woff)format("woff");}.ff2{font-family:ff2;line-height:0.938477;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff3;src:url(f3.woff)format("woff");}.ff3{font-family:ff3;line-height:0.727539;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff4;src:url(f4.woff)format("woff");}.ff4{font-family:ff4;line-height:0.938477;font-style:normal;font-weight:normal;visibility:visible;}
.m1{transform:matrix(0.247500,0.000000,0.000000,0.250000,0,0);-ms-transform:matrix(0.247500,0.000000,0.000000,0.250000,0,0);-webkit-transform:matrix(0.247500,0.000000,0.000000,0.250000,0,0);}
.m0{transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-ms-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-webkit-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);}
.v0{vertical-align:0.000000px;}
.ls0{letter-spacing:0.000000px;}
.sc_{text-shadow:none;}
.sc0{text-shadow:-0.015em 0 transparent,0 0.015em transparent,0.015em 0 transparent,0 -0.015em  transparent;}
@media screen and (-webkit-min-device-pixel-ratio:0){
.sc_{-webkit-text-stroke:0px transparent;}
.sc0{-webkit-text-stroke:0.015em transparent;text-shadow:none;}
}
.ws0{word-spacing:0.000000px;}
._1{width:35.288000px;}
._0{width:102.528000px;}
.fc0{color:rgb(0,0,0);}
.fs2{font-size:36.000000px;}
.fs5{font-size:44.000000px;}
.fs4{font-size:46.000000px;}
.fs3{font-size:48.000000px;}
.fs0{font-size:56.000000px;}
.fs1{font-size:72.000000px;}
.y0{bottom:0.000000px;}
.y12{bottom:3.330999px;}
.y15{bottom:3.490000px;}
.y2f{bottom:301.053021px;}
.y2e{bottom:326.251996px;}
.y2d{bottom:338.963024px;}
.y2c{bottom:351.402023px;}
.y2b{bottom:364.320976px;}
.y2a{bottom:376.653977px;}
.y29{bottom:389.736992px;}
.y28{bottom:402.069993px;}
.y27{bottom:414.710980px;}
.y26{bottom:427.710004px;}
.y25{bottom:440.358991px;}
.y24{bottom:461.976991px;}
.y23{bottom:474.676988px;}
.y22{bottom:487.376987px;}
.y21{bottom:499.876987px;}
.y20{bottom:512.626985px;}
.y1f{bottom:525.326984px;}
.y1e{bottom:537.826997px;}
.y1d{bottom:550.526994px;}
.y1c{bottom:563.476994px;}
.y1b{bottom:575.976994px;}
.y1a{bottom:588.476991px;}
.y19{bottom:601.176991px;}
.y18{bottom:613.926991px;}
.y17{bottom:626.426991px;}
.y16{bottom:639.126992px;}
.y14{bottom:651.826990px;}
.y13{bottom:664.326991px;}
.y11{bottom:677.276991px;}
.y10{bottom:705.999992px;}
.yf{bottom:718.332993px;}
.ye{bottom:743.636002px;}
.yd{bottom:756.113004px;}
.yc{bottom:768.811994px;}
.yb{bottom:781.510999px;}
.ya{bottom:794.222000px;}
.y9{bottom:806.699002px;}
.y8{bottom:819.398007px;}
.y7{bottom:846.058999px;}
.y6{bottom:859.958001px;}
.y5{bottom:907.421002px;}
.y4{bottom:917.770001px;}
.y3{bottom:930.578999px;}
.y2{bottom:950.219000px;}
.y1{bottom:967.318001px;}
.h9{height:14.500000px;}
.h7{height:14.650000px;}
.ha{height:14.700000px;}
.hb{height:14.750000px;}
.h8{height:14.950000px;}
.h4{height:26.208984px;}
.h6{height:32.033203px;}
.h5{height:34.945312px;}
.h2{height:40.769531px;}
.h3{height:52.417969px;}
.h0{height:1008.250000px;}
.h1{height:1008.500000px;}
.w1{width:62.000000px;}
.w2{width:69.000000px;}
.w4{width:129.000000px;}
.w3{width:302.000000px;}
.w0{width:612.000000px;}
.x0{left:0.000000px;}
.xe{left:18.000000px;}
.xc{left:22.837000px;}
.xf{left:24.000000px;}
.xa{left:57.000000px;}
.x9{left:60.000000px;}
.x10{left:78.000000px;}
.x8{left:93.000000px;}
.xb{left:116.000000px;}
.xd{left:183.000000px;}
.x4{left:195.646000px;}
.x6{left:203.834000px;}
.x3{left:207.504002px;}
.x7{left:213.000000px;}
.x1{left:233.440002px;}
.x5{left:259.946999px;}
.x2{left:271.947998px;}
.x11{left:304.000000px;}
@media print{
.v0{vertical-align:0.000000pt;}
.ls0{letter-spacing:0.000000pt;}
.ws0{word-spacing:0.000000pt;}
._1{width:47.050667pt;}
._0{width:136.704000pt;}
.fs2{font-size:48.000000pt;}
.fs5{font-size:58.666667pt;}
.fs4{font-size:61.333333pt;}
.fs3{font-size:64.000000pt;}
.fs0{font-size:74.666667pt;}
.fs1{font-size:96.000000pt;}
.y0{bottom:0.000000pt;}
.y12{bottom:4.441333pt;}
.y15{bottom:4.653333pt;}
.y2f{bottom:401.404029pt;}
.y2e{bottom:435.002661pt;}
.y2d{bottom:451.950699pt;}
.y2c{bottom:468.536031pt;}
.y2b{bottom:485.761302pt;}
.y2a{bottom:502.205303pt;}
.y29{bottom:519.649323pt;}
.y28{bottom:536.093324pt;}
.y27{bottom:552.947974pt;}
.y26{bottom:570.280005pt;}
.y25{bottom:587.145321pt;}
.y24{bottom:615.969321pt;}
.y23{bottom:632.902650pt;}
.y22{bottom:649.835983pt;}
.y21{bottom:666.502650pt;}
.y20{bottom:683.502646pt;}
.y1f{bottom:700.435979pt;}
.y1e{bottom:717.102662pt;}
.y1d{bottom:734.035992pt;}
.y1c{bottom:751.302658pt;}
.y1b{bottom:767.969325pt;}
.y1a{bottom:784.635988pt;}
.y19{bottom:801.569321pt;}
.y18{bottom:818.569321pt;}
.y17{bottom:835.235989pt;}
.y16{bottom:852.169323pt;}
.y14{bottom:869.102654pt;}
.y13{bottom:885.769321pt;}
.y11{bottom:903.035988pt;}
.y10{bottom:941.333323pt;}
.yf{bottom:957.777325pt;}
.ye{bottom:991.514669pt;}
.yd{bottom:1008.150672pt;}
.yc{bottom:1025.082658pt;}
.yb{bottom:1042.014665pt;}
.ya{bottom:1058.962667pt;}
.y9{bottom:1075.598670pt;}
.y8{bottom:1092.530677pt;}
.y7{bottom:1128.078665pt;}
.y6{bottom:1146.610668pt;}
.y5{bottom:1209.894670pt;}
.y4{bottom:1223.693335pt;}
.y3{bottom:1240.771998pt;}
.y2{bottom:1266.958666pt;}
.y1{bottom:1289.757334pt;}
.h9{height:19.333333pt;}
.h7{height:19.533333pt;}
.ha{height:19.600000pt;}
.hb{height:19.666667pt;}
.h8{height:19.933333pt;}
.h4{height:34.945312pt;}
.h6{height:42.710938pt;}
.h5{height:46.593750pt;}
.h2{height:54.359375pt;}
.h3{height:69.890625pt;}
.h0{height:1344.333333pt;}
.h1{height:1344.666667pt;}
.w1{width:82.666667pt;}
.w2{width:92.000000pt;}
.w4{width:172.000000pt;}
.w3{width:402.666667pt;}
.w0{width:816.000000pt;}
.x0{left:0.000000pt;}
.xe{left:24.000000pt;}
.xc{left:30.449333pt;}
.xf{left:32.000000pt;}
.xa{left:76.000000pt;}
.x9{left:80.000000pt;}
.x10{left:104.000000pt;}
.x8{left:124.000000pt;}
.xb{left:154.666667pt;}
.xd{left:244.000000pt;}
.x4{left:260.861333pt;}
.x6{left:271.778666pt;}
.x3{left:276.672002pt;}
.x7{left:284.000000pt;}
.x1{left:311.253337pt;}
.x5{left:346.595998pt;}
.x2{left:362.597331pt;}
.x11{left:405.333333pt;}
}
