.ff0{font-family:sans-serif;visibility:hidden;}
@font-face{font-family:ff1;src:url(f1.woff)format("woff");}.ff1{font-family:ff1;line-height:0.740723;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff2;src:url(f2.woff)format("woff");}.ff2{font-family:ff2;line-height:0.938477;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff3;src:url(f3.woff)format("woff");}.ff3{font-family:ff3;line-height:0.923340;font-style:normal;font-weight:normal;visibility:visible;}
.m0{transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-ms-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-webkit-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);}
.v0{vertical-align:0.000000px;}
.ls0{letter-spacing:0.000000px;}
.sc_{text-shadow:none;}
.sc0{text-shadow:-0.015em 0 transparent,0 0.015em transparent,0.015em 0 transparent,0 -0.015em  transparent;}
@media screen and (-webkit-min-device-pixel-ratio:0){
.sc_{-webkit-text-stroke:0px transparent;}
.sc0{-webkit-text-stroke:0.015em transparent;text-shadow:none;}
}
.ws0{word-spacing:0.000000px;}
._3{width:4.268000px;}
._2{width:10.868000px;}
._1{width:35.288000px;}
._0{width:100.980000px;}
.fc0{color:rgb(0,0,0);}
.fs2{font-size:36.000000px;}
.fs5{font-size:40.000000px;}
.fs4{font-size:42.000000px;}
.fs3{font-size:44.000000px;}
.fs0{font-size:56.000000px;}
.fs1{font-size:72.000000px;}
.y0{bottom:0.000000px;}
.y33{bottom:288.056970px;}
.y32{bottom:313.155969px;}
.y31{bottom:338.404977px;}
.y30{bottom:363.686970px;}
.y2f{bottom:375.967970px;}
.y2e{bottom:388.848972px;}
.y2d{bottom:401.129972px;}
.y2c{bottom:414.319969px;}
.y2b{bottom:426.652969px;}
.y2a{bottom:438.985970px;}
.y29{bottom:464.826971px;}
.y27{bottom:490.463988px;}
.y28{bottom:492.767988px;}
.y26{bottom:504.455991px;}
.y21{bottom:515.472005px;}
.y25{bottom:517.523005px;}
.y20{bottom:528.221005px;}
.y24{bottom:529.515006px;}
.y1f{bottom:540.964005px;}
.y23{bottom:541.639005px;}
.y1e{bottom:553.494006px;}
.y22{bottom:553.763005px;}
.y1d{bottom:578.505014px;}
.y1c{bottom:590.944014px;}
.y1b{bottom:616.373013px;}
.y15{bottom:628.807008px;}
.y1a{bottom:629.101008px;}
.y14{bottom:641.456010px;}
.y19{bottom:641.725009px;}
.y13{bottom:654.155007px;}
.y18{bottom:654.449008px;}
.y12{bottom:667.098008px;}
.y17{bottom:667.273007px;}
.y11{bottom:679.328009px;}
.y16{bottom:679.647008px;}
.y10{bottom:704.859995px;}
.yf{bottom:717.140995px;}
.ye{bottom:742.738997px;}
.yd{bottom:755.438003px;}
.yc{bottom:768.229007px;}
.yb{bottom:780.619994px;}
.ya{bottom:793.318999px;}
.y9{bottom:806.030001px;}
.y8{bottom:818.507003px;}
.y7{bottom:845.856002px;}
.y6{bottom:861.840998px;}
.y5{bottom:907.480002px;}
.y4{bottom:917.828998px;}
.y3{bottom:930.989998px;}
.y2{bottom:950.418999px;}
.y1{bottom:967.518000px;}
.h4{height:26.208984px;}
.h7{height:29.121094px;}
.h6{height:30.577148px;}
.h5{height:32.033203px;}
.h2{height:40.769531px;}
.h3{height:52.417969px;}
.h0{height:1008.250000px;}
.h1{height:1008.500000px;}
.w0{width:612.000000px;}
.x0{left:0.000000px;}
.xa{left:57.000000px;}
.x9{left:60.000000px;}
.xe{left:63.850000px;}
.xd{left:82.000000px;}
.x8{left:93.000000px;}
.xb{left:183.000000px;}
.x6{left:191.667999px;}
.x4{left:196.146000px;}
.x3{left:208.000000px;}
.xc{left:228.000000px;}
.x7{left:230.000000px;}
.x1{left:233.440002px;}
.x5{left:260.446999px;}
.x2{left:271.947998px;}
.xf{left:285.000000px;}
.x10{left:339.000000px;}
@media print{
.v0{vertical-align:0.000000pt;}
.ls0{letter-spacing:0.000000pt;}
.ws0{word-spacing:0.000000pt;}
._3{width:5.690667pt;}
._2{width:14.490667pt;}
._1{width:47.050667pt;}
._0{width:134.640000pt;}
.fs2{font-size:48.000000pt;}
.fs5{font-size:53.333333pt;}
.fs4{font-size:56.000000pt;}
.fs3{font-size:58.666667pt;}
.fs0{font-size:74.666667pt;}
.fs1{font-size:96.000000pt;}
.y0{bottom:0.000000pt;}
.y33{bottom:384.075960pt;}
.y32{bottom:417.541292pt;}
.y31{bottom:451.206636pt;}
.y30{bottom:484.915960pt;}
.y2f{bottom:501.290627pt;}
.y2e{bottom:518.465296pt;}
.y2d{bottom:534.839963pt;}
.y2c{bottom:552.426626pt;}
.y2b{bottom:568.870626pt;}
.y2a{bottom:585.314627pt;}
.y29{bottom:619.769295pt;}
.y27{bottom:653.951984pt;}
.y28{bottom:657.023984pt;}
.y26{bottom:672.607988pt;}
.y21{bottom:687.296007pt;}
.y25{bottom:690.030673pt;}
.y20{bottom:704.294674pt;}
.y24{bottom:706.020008pt;}
.y1f{bottom:721.285341pt;}
.y23{bottom:722.185340pt;}
.y1e{bottom:737.992008pt;}
.y22{bottom:738.350674pt;}
.y1d{bottom:771.340019pt;}
.y1c{bottom:787.925351pt;}
.y1b{bottom:821.830685pt;}
.y15{bottom:838.409344pt;}
.y1a{bottom:838.801345pt;}
.y14{bottom:855.274680pt;}
.y19{bottom:855.633345pt;}
.y13{bottom:872.206676pt;}
.y18{bottom:872.598677pt;}
.y12{bottom:889.464011pt;}
.y17{bottom:889.697343pt;}
.y11{bottom:905.770678pt;}
.y16{bottom:906.196011pt;}
.y10{bottom:939.813327pt;}
.yf{bottom:956.187993pt;}
.ye{bottom:990.318663pt;}
.yd{bottom:1007.250670pt;}
.yc{bottom:1024.305342pt;}
.yb{bottom:1040.826659pt;}
.ya{bottom:1057.758666pt;}
.y9{bottom:1074.706668pt;}
.y8{bottom:1091.342670pt;}
.y7{bottom:1127.808002pt;}
.y6{bottom:1149.121330pt;}
.y5{bottom:1209.973337pt;}
.y4{bottom:1223.771997pt;}
.y3{bottom:1241.319997pt;}
.y2{bottom:1267.225332pt;}
.y1{bottom:1290.024000pt;}
.h4{height:34.945312pt;}
.h7{height:38.828125pt;}
.h6{height:40.769531pt;}
.h5{height:42.710938pt;}
.h2{height:54.359375pt;}
.h3{height:69.890625pt;}
.h0{height:1344.333333pt;}
.h1{height:1344.666667pt;}
.w0{width:816.000000pt;}
.x0{left:0.000000pt;}
.xa{left:76.000000pt;}
.x9{left:80.000000pt;}
.xe{left:85.133333pt;}
.xd{left:109.333333pt;}
.x8{left:124.000000pt;}
.xb{left:244.000000pt;}
.x6{left:255.557332pt;}
.x4{left:261.528000pt;}
.x3{left:277.333333pt;}
.xc{left:304.000000pt;}
.x7{left:306.666667pt;}
.x1{left:311.253337pt;}
.x5{left:347.262665pt;}
.x2{left:362.597331pt;}
.xf{left:380.000000pt;}
.x10{left:452.000000pt;}
}
